
/* Moons eyes that follows the rocket */
@keyframes eyes {
    0% {
        margin-top: 10px;
    }

    100% {
        margin-top: 0px;
    }
}

/* Makes the rocket fade in and out */
@keyframes fire {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Moves rocket forward */
@keyframes flying {
  0%   {margin-left: 350px; margin-top: 300px;}
  100% {margin-left: 550px; margin-top: -550px;}
}